nav{
  background: rgba(255, 255, 255, 0.80);
}
nav.scrolled{
background: rgba(255, 255, 255, 0.80);
}
.logo2 img{
width: 100%;
height: 70px;
display: block;
}
.menu ul li a{
color: #174581;
}
.nav_tel{
color: #174581;
}
.fa{
  color: #174581;
}
.new_box{
  row-gap: 40px;
  column-gap: 2%;
  flex-wrap: wrap;
}
.new_card{
  flex: 0 0 30%;
  margin-right: 0%;
  padding: 0;
}

.new_card_text3{
  padding: 0px 20px 20px 20px;
}

.new_card_text1{
  bottom: 260px;
}
.text_row1 h2{
  font-size: 35px;
  
}
@media (max-width:980px) {
  .menu ul li a{
    color: white;
    }
  }

@media (max-width:1250px) {
.new_card{
  flex: 0 0 47%;
  }
}

@media (max-width:680px) {
.new_card{
  flex: 0 0 100%;
}
.new_container{
  padding-top: 70px;
  padding-bottom: 50px;
}
.new_box{
  row-gap: 20px;
  }
}

 