body{
    background: #f2f2f3;
}

nav{
  background: rgba(255, 255, 255, 0.80);
}
nav.scrolled{
background: rgba(255, 255, 255, 0.80);
}
.logo2 img{
width: 100%;
height: 70px;
display: block;
}
.menu ul li a{
color: #174581;
}
.nav_tel{
color: #174581;
}
.fa{
  color: #174581;
}

.seasonal{
    padding-bottom: 100px;
}
.seasonal_card{
  height: 300px;
}
nav.scrolled .menu ul li a{
  color: #174581;

}
@media (max-width:980px) {
  .menu ul li a{
    color: white;
    }

}
@media (max-width:660px) {
  .seasonal{
    padding-bottom: 70px;
}
.seasonal_card{
  height: 250px;
}
}
 
  