body{
    background: #f2f2f3;
}

nav{
  background: rgba(255, 255, 255, 0.80);
}
nav.scrolled{
background: rgba(255, 255, 255, 0.80);
}
.logo2 img{
width: 100%;
height: 70px;
display: block;
}
.menu ul li a{
color: #174581;
}
.nav_tel{
color: #174581;
}

.seasonal{
    padding-bottom: 100px;
}
@media (max-width:660px) {
  .seasonal{
    padding-bottom: 70px;
}
}
 
  