
body{
    background: #f2f2f3;
}
nav{
    background: rgba(255, 255, 255, 0.80);
}
nav.scrolled{
  background: rgba(255, 255, 255, 0.80);
}
.logo2 img{

  display: block;
}
.menu ul li a{
  color: #174581;
}
.nav_tel{
  color: #174581;
}  
.img_wrapper_container{
  width: 31.5%;
}
@media (max-width:980px) {

  .img_wrapper_container{
    width: 49%;
  }  
}

@media (max-width:660px) {
  .img_wrapper_container{
    width: 100%;
  }
}


