
body{
    background: #f2f2f3;
}
.fa{
  color: #174581;
}
.intro_link2{
  font-weight: 700;
}
.new_description{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 40px;

}
.description_title{
  font-size: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #174581;
  line-height: 150%;
  margin-bottom: 20px;
}
.new_description_box{
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}
.new_description_box img{
  width: 70%;
  border-radius: 20px;
  margin-bottom: 30px;
}
.new_description_box h2{
  font-size: 35px;
  color: #174581;
  font-family: "Intro", sans-serif;
  font-weight: 600;
}

.new_description_box p{
  width: 70%;
  font-size: 18px;
  color: #333;
  font-family: "Intro", sans-serif;
  line-height: 150%;
  font-weight: 400;
}

@media (max-width:760px) {
  .new_description_box img{
    width: 100%;
  }
  .new_description_box p{
    width: 100%;

  }
  .new_description{
    padding-top: 70px;
  
  }
  .description_title{
    font-size: 26px;
  }
  .new_description_box h2{
    font-size: 26px;
  }
}

.new_container{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background: #F7FAFF;
}
.new_box{
  display: flex;
  column-gap: 2%;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  scroll-behavior: smooth;
}
.new_link{
  text-decoration: none;
}
.new_card{
  padding: 0px;
  position: relative;
  flex: 0 0 30%;
}
.new_card:last-child{
  margin-right: 0;
}
.new_card_text1{
  bottom: 250px;
}
.text_row1 h2{
  font-size: 35px;
}

@media (max-width:960px) {
  .new_container{
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    background: #F7FAFF;
  }
  .new_card{
    background: white;
    position: relative;
    /* width: 45%; */
    flex: 0 0 100%;

  }
  .new_box{
    display: flex;
    row-gap: 20px;
    column-gap: 2%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    scroll-behavior: smooth;
  }
  .new_container{
    padding-top: 70px;
    padding-bottom: 50px;
    width: 100%;
    background: #F7FAFF;
  }
}
@media (max-width:980px) {
  .menu ul li a{
    color: white;
    }
  }




